.spaniel h2 {
	color: #fff;
	font-size: 50px;
	font-family: Purisa;
	font-weight: bold;
}

.springer h2 {
	color: #fff;
	font-size: 50px;
	font-family: Purisa;
	font-weight: bold;
}

.staff h2 {
	color: #fff;
	font-size: 50px;
	font-family: Purisa;
	font-weight: bold;
}

.terrier h2 {
	color: #fff;
	font-size: 50px;
	font-family: Purisa;
	font-weight: bold;
} 

.principal {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

html {
	background-color: black;
}

.spaniel p {
	color: #fff;
	text-indent: 20px; 
}

.springer p {
	color: #fff;
	text-indent: 20px;
}

.staff p {
	color: #fff;
	text-indent: 20px;
}

.terrier p {
	color: #fff;
	text-indent: 20px;
}

.spaniel h3 {
	color: #fff;
}

.springer h3 {
	color: #fff;
}

.staff h3 {
	color: #fff;
}

.terrier h3 {
	color: #fff;
}