
.main {
	font-size: 90px;
	color: #fff;
	text-align: center;
	margin: auto;
}

html {
	background-color: black;
}

.nav {
	color: #fff;
}

.nav p {
	font-size: 20px;
	color: white;
	text-indent: 20px;
}

title {
	font-family: Arial;
	font-size: 60px;
	color: white;
}

.principal {
	padding-top: 10px;
}

.nav a {
	color: white;
	font-family: Arial;
	font-size: 40px;
	padding-left: 220px;
	text-decoration: none;
}

#tab2 {
	margin-right: auto;
	margin-left: auto;
	padding-top: auto;
	margin-bottom: auto;
}

#tab3 {
	margin-right: auto;
	margin-left: auto;
	padding-top: auto;
	margin-bottom: auto;
}

tr {
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	width: 150px;
	height: 20px;
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

html {
	background-color: black;
}

#textaba1 {
	text-align: center;
	line-height: 30px;
}

#textaba1 ul {
	padding: 50px;
	margin: 0px;
	list-style-type: none;
}

#textaba1 ul li {
	display: inline;
}

#textaba1 ul li a {
	padding: 2px 10px;
	display: inline-block;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
}

#textaba1 ul li a:hover {
	color: red;
}

#textaba2 {
	text-align: center;
	line-height: 30px;
}

#textaba2 ul {
	padding: 50px;
	margin: 0px;
	list-style-type: none;
}

#textaba2 ul li {
	display: inline;
}

#textaba2 ul li a {
	padding: 2px 10px;
	display: inline-block;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
}

#textaba2 ul li a:hover {
	color: red;
}

#textaba3 {
	text-align: center;
	line-height: 30px;
}

#textaba3 ul {
	padding: 50px;
	margin: 0px;
	list-style-type: none;
}

#textaba3 ul li {
	display: inline;
}

#textaba3 ul li a {
	padding: 2px 10px;
	display: inline-block;
	text-decoration: none;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
}

#textaba3 ul li a:hover {
	color: red;
}

#textaba4 {
	text-align: center;
	color: white;
}

#textaba4 ul {
	list-style-type: none;
	line-height: 20px;
}

#textaba4 ul li a {
	text-decoration:none;
	font-family: Arial;
	font-size: 20px;
}

#textaba4 a:hover {
	cursor: pointer;
	color: red;
	font-family: Arial;
	font-size: 20px;
	text-decoration: none;
}
	
#aba1:hover {
	cursor: pointer;
}

#aba2:hover {
	cursor: pointer;
}

#aba3:hover {
	cursor: pointer;
}

#aba4:hover {
	cursor: pointer;
}

#manuh1 {
	font-family: Arial;
	font-size: 50px;
	color: white;
	text-align: center;
	padding-top: 150px;
}

#manuimg {
	position:absolute;
	left:50%;
	top:50%;
}
